CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/build
*.blend1
*.vcxproj
*.filters
*.sln
LevelCode/Vulkan/build/.vs/Assignment_2_Vulkan/v16/.suo
*.db
*.ipch
*.user
*.lastbuildstate
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.pdb
*.exe
*.db-shm
*.db-wal
*.opendb
